.header_icons {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 5px;
}

.header_icons:hover {
  cursor: pointer;
}

.header_logo {
  width: 80px;
  height: 60px;
  border-radius: 45%;
}

.sourc_input {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: darkgray;
}

.header_container {
  z-index: 99999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  position: fixed;
  width: 100%;
  background: rgb(250, 255, 0)
    linear-gradient(
      270deg,
      rgba(250, 255, 0, 0.9893207282913166) 0%,
      rgba(208, 29, 29, 1) 100%
    );
}
.header_container_logo:hover {
  cursor: pointer;
}

.heaader_logoText_one {
  color: black;
  font-size: 30px;
  font-weight: bold;
  z-index: 1000000000;
}

.heaader_logoText_two {
  color: wheat;
  font-style: italic;
}
