.product_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-top: 10px;
  margin: 10px 10px 20px 20px;
}

.product_container_img {
  width: 600px;
  height: 580px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  border-bottom: 10px;
}

.product_container_two_section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 600px;
  padding: 50px 10px 0 30px;
}

.product_container_two_section_button {
  margin-top: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px 70px;
  background-color: rgb(38, 229, 229);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.product_container_two_section_button:hover {
  transform: scale(1.09);
  cursor: pointer;
}

.product_container_two_section_one {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.icons {
  max-width: 160px;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 10px;
}
