* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
